@model IEnumerable<AAPM.Models.UserModel>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}

<p>
    @Html.ActionLink("Create New", "AddUser")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AddressLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AddressLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new {  userId=item.UserId }) |
                @Html.ActionLink("Delete", "DeleteUser", new {  userId=item.UserId })
                @*<a href="DeleteUser?userId=@item.UserId">Delete</a>*@
            </td>
        </tr>
    }

</table>
